.name-text{
    font-size:17px;
    color: #7c7c7c;
    font-weight: bold;
}

footer{
    text-align: center;
    /* 색을 code로도 표현 가능 */
    background-color: #121212;
    color: #919191;
    font-size: 12px;
    padding: 30px;
}

.mainbox {
    /* border 속성 : 두께 방식 색깔 */
    border: 4px inset #6f6f6f;
    /* 박스 너비 조절 */
    width: 610px;
    text-align: right;
    /* 박스 가운데 정렬 */
    margin-left: auto;
    margin-right: auto;
    /* padding값 조절 */
    padding: 30px;
    margin: 30px;
    /* 그림자 */
    /* x축, y축, 블러, 퍼짐정도 */
    box-shadow: 0 1px 20px 0 rgba(250, 0, 200,1);
}